[MASTER]
# List of directories or files to ignore.
ignore=tests,.venv

# Add files or directories to the blacklist.
ignore-patterns=tests/*_test.py

# Specify a configuration file.
rcfile=

# Python code to execute, usually for sys.path manipulation such as
# py3k compatibility or namespace package emulation.
init-hook=''

# Python version compatibility.
py-version=3.11

[MESSAGES CONTROL]
# Disable specific messages. Adjust based on your project needs.
disable=missing-module-docstring,
        missing-class-docstring,
        too-few-public-methods,
        duplicate-code

[CONVENTION]
enable=missing-function-docstring

[REPORTS]
# Report settings.
reports=no
output-format=colorized

[LOGGING]
# Enable checks for the use of logging.
logging-format-style=old

[DESIGN]
# Maximum number of parents for a class.
max-parents=7

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120

# Allow shorter docstring conventions.
docstring-min-length=10

[BASIC]
# Allow single letter variable names.
good-names=i,j,k,e

# Function/method argument names:
argument-naming-style=snake_case

[VARIABLES]
# Allow constant-style variables.
const-rgx=([A-Z_][0-9])

[CLASSES]
max-args=7
